<!-- <p>homepage works!</p> -->
<!-- <img src="assets/images/homepage.png"> -->
<!-- <div style="width: 100%; height:100%; position: fixed; top:0; left:0;
 background-image: url('../../assets/images/homepage.png'); background-position: center;background-repeat: no-repeat;
 background-size: cover;">
<h1 class="h1 display">Hospital Near By</h1>


<div class="link block link1">
    <a class="btn btn- " routerLink="/login" role="button">User Login</a>
</div>
<div class="link block link2">
    <a class="btn btn-primary" routerLink="/register" role="button">User Register</a>
</div>
<div class="link link3 block">
    <a class="btn btn-primary" href="admin" role="button">AdminLogin</a>
</div>
</div> -->

<div style="width: 100%; height:100%; position: fixed; top:0; left:0;
 background-image: url('../../assets/images/homepage.png'); background-position: center;background-repeat: no-repeat;
 background-size: cover;">
 <nav>
     <div>
<p class="h1 display">Hospital Near By</p>
</div>
<ul>
<li><div class="link block link1">
    <a class="btn btn-primary " routerLink="/login" role="button">User Login</a>
</div></li>
<li><div class="link block link2">
    <a class="btn btn-primary" routerLink="/register" role="button">User Register</a>
</div></li>
<li><div class="link link3 block">
    <a class="btn btn-primary" href="admin" role="button">AdminLogin</a>
</div></li>
</ul>
</nav>
</div>